@page
@model WebUI.Pages.User.IndexModel

@{
    ViewData["Title"] = "User Management";
}
<div class="card">
    <div class="card-header py-3">
        <div class="row w-100">
            <div class="col-10">
                <h3 class="m-0 font-weight-bold text-primary">User Management</h3>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-center">
                <button class="btn btn-primary" asp-page="Create">
                    <i class="fas fa-user-plus"></i>
                    <span class="ms-1">New User</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Account[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account[0].Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Account[0].Role)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Account)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td class="d-flex justify-content-around">
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                <a class="text-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>